# ═══════════════════════════════════════════════════════════
#  Variables de entorno para {{ servicio }}
#  Generado automáticamente por Ansible
# ═══════════════════════════════════════════════════════════

SECRET_KEY={{ secret_key }}
API_URL={{ api_url }}
FRONTEND_URL={{ frontend_url }}
SMTP_USER={{ smtp_user }}
SMTP_PASS={{ smtp_pass }}
