services:
  web:
    build: 
      context: ${CONTEXTO}
      #args: #variables en dockerfile para la construcción de la imagen
      #  - USUARIO=pedro
      dockerfile: ./dockerfiles/ciber/Dockerfile
    image: peedroorgzz/ciber
    container_name: ${NOMBRE}
    ports:
      - "${PORT_SSH}:${PORT_SSH}"
    env_file:
      - ./.env
    volumes:
        - ./logs:/output             # Tu reporte de auditoría
        - ./logs-nginx:/var/log/nginx # Los logs del servidor web
    networks:
      netcaronte:
          ipv4_address: ${IP}

networks:
  netcaronte:
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET}